html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }

  .text-center{
    text-align: center;
  }

  .image-center{
    text-align: -webkit-center;
  }

  .button-margin{
    margin: 20px;
  }

  .button-padding{
    padding: 20px;
  }
